.main {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.subCont {
  display: flex;
  flex-direction: column;
  margin: 0 56px 0 56px;
}
.titleCont {
  width: 800px;
  height: 44px;
  border: 2px solid #cacaca;
  padding-left: 25px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: 'Jua';
  font-size: 20px;
  ::placeholder {
    color: #aeaeae;
  }
}
.tagCont {
  width: 800px;
  height: 44px;
  border: 2px solid #cacaca;
  padding-left: 25px;
  border-radius: 10px;
  margin-bottom: 10px;
  font-family: 'Jua';
  font-size: 18px;
  ::placeholder {
    color: #aeaeae;
  }
}
.writeCont {
  width: 800px;
  height: 398px;
  border: 2px solid #cacaca;
  padding-left: 25px;
  padding-top: 20px;
  border-radius: 10px;
  font-family: 'Jua';
  font-size: 18px;
  resize: none;
  ::placeholder {
    color: #aeaeae;
  }
}
.btnCont {
  margin: 21px 10px 30px auto;
}
.CancelBtn {
  background-color: #d9d9d9;
  font-family: 'Jua';
  font-size: 20px;
  width: 91px;
  height: 37px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
}
.CancelBtn:hover {
  box-shadow: 0 0 0 2px #c3c3c3;
}
.CancelBtn:focus {
  box-shadow: 0 0 0 2px #c3c3c3;
}
.CancelBtn:active {
  background-color: #d8cccc;
}
.SubmitBtn {
  background-color: #ff910f;
  font-family: 'Jua';
  font-size: 20px;
  color: white;
  width: 91px;
  height: 37px;
  border-radius: 5px;
  border: none;
  cursor: pointer;

  margin-left: 27px;
}
.SubmitBtn:hover {
  box-shadow: 0 0 0 2px #f18100;
}
.SubmitBtn:focus {
  box-shadow: 0 0 0 2px #f18100;
}
.SubmitBtn:active {
  background-color: #ff941a;
}
