.container {
  margin: 0 53px 0 0;
}
.top {
  margin: 17px 0 22px 16px;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Besley-Regular';

  display: flex;
  align-items: center;
}
.whetherResolved {
  width: 74px;
  height: 30px;

  margin: 0 18px 0 0;
}
.main {
  margin-left: 16px;
  margin-bottom: 12px;
}
.footer {
  margin-left: 16px;
  font-family: 'Jua';
  font-size: 13px;
  color: #aeaeae;

  display: flex;
  flex-direction: row;
}
.infoRight {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}
.info {
  display: flex;
  flex-direction: row;
}
.infoImg {
  width: 15px;
  height: 15px;
}
