.container {
  height: 148px;
  background-color: #ff8a00;
  color: white;
  font-family: Jua;

  display: flex;
  flex-direction: column;
  padding-left: 170px;
  margin-bottom: 41px;
}
.title {
  font-size: 35px;
  padding: 20px 0 20px 0;
}
.titleSub {
  font-size: 30px;
}
