.container {
  border-radius: 10px;
  background-color: #efefef;
  // font-family: 'Besley-Regular';
  font-family: 'Jua';
  font-size: 15px;
  padding-left: 5px;
  height: 29px;
  min-width: 62px;
  max-width: 114px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}
